<nav
	class="navbar navbar-main navbar-expand-lg px-0 mx-0 shadow-none border-radius-xl bg-gray-300"
	id="navbarBlur" data-scroll="true">
	<div class="container-fluid py-0 px-3">
		<nav aria-label="breadcrumb">
			<ol
				class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
				<li class="breadcrumb-item text-sm"><a
					class="opacity-5 text-dark" href="javascript:;">Trang</a></li>
				<li class="breadcrumb-item text-sm text-dark active"
					aria-current="page">hoadon</li>
			</ol>
			<h6 class="font-weight-bolder mb-0">Trang Hóa Đơn</h6>
		</nav>
	</div>
</nav>
<br>
<div class="row">
	<div class="col-12">
		<div class="card-body">
			<div class="card my-4">
				<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
					<div
						class="bg-gradient-primary shadow-primary border-radius-lg pt-2 pb-2">
						<h6 class="text-white text-capitalize ps-5">Chọn Hóa Đơn </h6>
					</div>
				</div>
				<div class="card-body px-0 pb-2">
					<div class="table-responsive ">
						<table
							class="table table-hover table-info align-items-center justify-content-center ">
							<thead>
								<tr>
									<th
										class="text-uppercase text-secondary text-xxs font-weight-bolder  ">Mã
										Khách Hàng</th>
									<th
										class="text-uppercase text-secondary text-xxs font-weight-bolder   ">Tên
										Khách Hàng</th>
									<th
										class="text-uppercase text-secondary text-xxs font-weight-bolder   ">Tổng Tiền</th>
									<th
										class="text-uppercase text-secondary text-xxs font-weight-bolder   ">Ngày Thanh Toán</th>
									<th
										class="text-uppercase text-secondary text-xxs font-weight-bolder  ">Trạng
										Thái</th>

									<th
										class="text-uppercase text-secondary text-xxs font-weight-bolder  ">Lựa
										Chọn</th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="(index,p) in pager.items | orderBy:sortType:sortReverse | filter:searchName">
									<td>
										<p class="text-sm font-weight-bold mb-0 opacity-5">{{p.maDp.maKhachHang.maKhachHang}}</p>
									</td>
									<td>

										<p class="text-sm font-weight-bolder font-weight-bold mb-0">{{p.maDp.maKhachHang.hoTen}}</p>

									</td>
									<td>

										<p class="text-sm font-weight-bolder font-weight-bold mb-0">{{p.tongTien}} VNĐ</p>

									</td>
									<td>

										<p class="text-sm font-weight-bolder font-weight-bold mb-0">{{p.maDp.ngayKT| date:'dd/MM/yyyy'}}</p>

									</td>

									<td class="text-sm"><span
										class="badge badge-sm bg-gradient-warning">Chờ In</span>
									</td>


									<td>
										<!-- Button trigger modal -->
										<button type="button" ng-click="viewDetail(p)"
											class="btn mb-0 pt-2 pb-2 btn-sm btn-info"
											data-bs-toggle="modal" data-bs-target="#exampleModal">
											In Hóa Đơn</button> <!-- Modal -->
										 <div class="modal  modal-xl fade" id="exampleModal"
											tabindex="-1" aria-labelledby="exampleModalLabel"
											aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">

														<button type="button" class="btn-close btn-danger bg-danger"
															data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div id="divToExport" class="modal-body">
														<nav
															class="navbar navbar-main navbar-expand-lg px-0 mx-0 shadow-none border-radius-xl bg-gray-300"
															id="navbarBlur" data-scroll="true">
															<div class="container-fluid py-0 px-3">
																<nav aria-label="breadcrumb">
																	<ol
																		class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
																		<li class="breadcrumb-item text-sm"><a
																			class="opacity-5 text-dark" href="javascript:;">Hotel Hoàng Duy</a></li>
																		<li class="breadcrumb-item text-sm text-dark active"
																			aria-current="page">hoadon</li>
																	</ol>
																	<div  class="font-weight-bolder text-center mb-0">Hóa Đơn Thanh Toán</div>
																</nav>
															</div>
														</nav>
														<br>
														<div class="row">
															<div class="col-12">
																<div class="card my-4">

																	<div class="card-body">
																	<h1>Khách Sạn Hoàng Duy</h1>
															<p>Địa Chỉ Số 4 Lê Lợi Gò Vấp Hồ Chí Minh</p>
																	<p>Ngày giờ Lập Hóa Đơn: <span id="datetime"></span></p>
	<script>
		var today = new Date();
		var date = today.getDate() + '/' + (today.getMonth()+1) + '/' + today.getFullYear();
		var time = today.getHours() + ':' + today.getMinutes() + ':' + today.getSeconds();
		var dateTime = date + ' ' + time;
		document.getElementById("datetime").innerHTML = dateTime;
	</script>
				<h3 style="text-align: center;">HÓA ĐƠN THANH TOÁN</h3>	
																		<div
																			class="card-header p-0 position-relative mt-n0 mx-0 z-index-1">
																			<div
																				class="bg-gradient-primary shadow-primary border-radius-lg pt-2 pb-2">
																				<h6 class="text-white text-capitalize ps-3">Thông
																					Tin Phòng</h6>
																			</div>
																		</div>
																		<hr>
																		<div>
																		<div class="row">
																<div class="col-md-6 mb-md-0 mb-4">
																					<label for="maPhong"><b>Mã Phòng :</b></label> <input
																						type="text" ng-model="form.maDp.maPhong.maPhong"
																						class="form-control bg-gray-350 ps-3"
																						disabled="disabled" placeholder="Nhập Mã Phòng" />
																					<div class="form-group">
																						<label for="ngayBD"><b> Ngày Nhận
																								Phòng : </b></label> <input type="date"
																							class="form-control input ps-3 bg-gray-350"
																							id="ngayBD" ng-model="form.ngayBD" disabled="disabled"/>
																					</div>
																					<label for="giaPhong"><b>Giá Phòng :</b></label> <input
																						type="text" ng-model="form.maDp.maPhong.giaPhong"
																						class="form-control bg-gray-350 ps-3"
																						disabled="disabled"/>

																				</div>
																				<div class="col-md-6">
																					<label for="maKhachHang"><b>Tên Khách
																							Hàng :</b></label> <input type="text"
																						ng-model="form.maDp.maKhachHang.hoTen"
																						disabled="disabled"
																						class="form-control bg-gray-350  ps-3"
																						placeholder="Nhập Mã Khách Hàng" />
																					<div class="form-group">
																						<label for="ngayKT"><b> Ngày Trả Phòng
																								: </b></label> <input type="date"
																							class="form-control input ps-3 bg-gray-350"
																							id="ngayKT" ng-model="form.ngayKT"  disabled="disabled"/>
																					</div>
																						<hr>
																					<div class="card-header p-0 position-relative mt-n0 mx-0 z-index-1">
																							<div
																								class="bg-gradient-info shadow-info border-radius-lg pt-1 pb-1">
																								<h6 class="text-white text-capitalize ps-3">Tiền Phòng Cần Trả(1): {{form.tongTien-form.tongDV}} VND</h6>
																							</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-12">
																		<div class="card-body">
																			<div class="card my-4">
																				<div
																					class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
																					<div
																						class="bg-gradient-primary shadow-primary border-radius-lg pt-2 pb-2">
																						<h6 class="text-white text-capitalize ps-5">Dịch
																							Vụ Đã Sử Dụng</h6>
																					</div>
																				</div>
																				<div class="card-body px-0 pb-2">
																					<div class="table-responsive ">
																						<table
																							class="table table-hover table-info align-items-center justify-content-center ">
																							<thead>
																								<tr>
																									<th
																										class="text-uppercase text-secondary text-xxs font-weight-bolder "></th>
																									<th
																										class="text-uppercase text-secondary text-xxs font-weight-bolder   ">Tên
																										Dịch Vụ</th>
																									<th
																										class="text-uppercase text-secondary text-xxs font-weight-bolder   ">
																										Ngày Gọi</th>
																									<th
																										class="text-uppercase text-secondary text-xxs font-weight-bolder   ">Đơn
																										Giá</th>
																									<th
																										class="text-uppercase text-secondary text-xxs font-weight-bolder  ">Số
																										Lượng</th>
																									<th
																										class="text-uppercase text-secondary text-xxs font-weight-bolder  ">Đơn
																										Vị</th>
																									<th
																										class="text-uppercase text-secondary text-xxs font-weight-bolder  ">Tiền Dịch Vụ</th>
																								</tr>
																							</thead>
																							<tbody>
																								<tr
																									ng-repeat="(index,dv) in pagerOrder.items | orderBy:sortType:sortReverse | filter:searchName">
																									<td>
																										<p
																											class="text-sm text-center font-weight-bold mb-0 opacity-7">{{index+1}}</p>
																									</td>
																									<td>

																										<p
																											class="text-sm font-weight-bolder font-weight-bold mb-0">{{dv.maDichVu.tenDichVu.substr(0,15)}}</p>

																									</td>
																									<td>

																										<p
																											class="text-sm font-weight-bolder font-weight-bold mb-0">{{dv.ngayOrder| date:'dd/MM/yyyy'}}</p>

																									</td>
																									<td>

																										<p
																											class="text-sm font-weight-bolder font-weight-bold mb-0">{{dv.maDichVu.donGia}}</p>

																									</td>
																									<td>

																										<p
																											class="text-sm font-weight-bolder font-weight-bold mb-0">{{dv.soLuong}}</p>

																									</td>
																									<td>

																										<p
																											class="text-sm font-weight-bolder font-weight-bold mb-0">{{dv.maDichVu.donVi}}</p>

																									</td>
																									<td>

																										<p
																											class="text-sm font-weight-bolder font-weight-bold mb-0">{{dv.maDichVu.donGia * dv.soLuong}} VND</p>

																									</td>
																								</tr>
																							</tbody>
																						</table>
																						
																						
																						
																						<span class="btn btn-dark"
																							style="float: right; color: white; font-size: 10px; margin-left: 1px; margin-bottom: 1px">trang
																							{{pagerOrder.page+ 1}} / {{pagerOrder.count}}</span>
																						<button class="btn btn-dark"
																							ng-click="pagerOrder.last()"
																							style="float: right; color: white; font-size: 10px; margin-left: 1px; margin-bottom: 1px">>|</button>
																						<button class="btn btn-dark"
																							ng-click="pagerOrder.next()"
																							style="float: right; color: white; font-size: 10px; margin-left: 1px; margin-bottom: 1px">>></button>
																						<button class="btn btn-dark"
																							ng-click="pagerOrder.prev()"
																							style="float: right; color: white; font-size: 10px; margin-left: 1px; margin-bottom: 1px"><<</button>
																						<button class="btn btn-dark"
																							ng-click="pagerOrder.first()"
																							style="float: right; color: white; font-size: 10px; margin-left: 1px; margin-bottom: 1px">|<</button>
																						<div class="col-md-6">
																							<div class="card-header p-0 position-relative mt-n0 mx-0 z-index-1">
																							<div
																								class="bg-gradient-info shadow-info border-radius-lg pt-1 pb-1">
																								<h6 class="text-white text-capitalize ps-3">Tiền Dịch Vụ Cần Trả(2): {{form.tongDV}} VND</h6>
																							</div>
																							</div>
																						</div>
																						
																					</div>
																				</div>
																			</div>
																				<div class="card-header p-0 position-relative mt-n0 mx-0 z-index-1">
																							<div
																								class="bg-gradient-success shadow-success border-radius-lg pt-1 pb-1">
																								<h6 class="text-white text-capitalize ps-3">Tổng Tiền Đã Thanh Toán (1)+(2): {{form.tongTien}} VND</h6>
																							</div>
																							</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													 <div class="modal-footer">
												        <button type="button" class="btn btn-primary" ng-click="generatePDF(form)">In Hóa Đơn</button>
												        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Trở Về</button>
												      </div>

												</div>
											</div>
										</div> 

									</td>
								</tr>
							</tbody>
						</table>
						<span class="btn btn-dark"
							style="float: right; color: white; font-size: 10px; margin-left: 1px; margin-bottom: 1px">trang
							{{pager.page+ 1}} / {{pager.count}}</span>
						<button class="btn btn-dark" ng-click="pager.last()"
							style="float: right; color: white; font-size: 10px; margin-left: 1px; margin-bottom: 1px">>|</button>
						<button class="btn btn-dark" ng-click="pager.next()"
							style="float: right; color: white; font-size: 10px; margin-left: 1px; margin-bottom: 1px">>></button>
						<button class="btn btn-dark" ng-click="pager.prev()"
							style="float: right; color: white; font-size: 10px; margin-left: 1px; margin-bottom: 1px"><<</button>
						<button class="btn btn-dark" ng-click="pager.first()"
							style="float: right; color: white; font-size: 10px; margin-left: 1px; margin-bottom: 1px">|<</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
